<!DOCTYPE html>
<html lang="{{ lang.lang_abrv }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HabboDev | {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {% block css %}{% endblock %}
    </head>

    <body>
    <div class="container">
        {% include 'templates/partials/navigation.twig' %}
        {% include 'templates/partials/messages.twig' %}
        {% block content %} {% endblock %}
    </div>
    </body>

    <footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% block javascript %}{% endblock %}
    </footer>
</html>