{% extends 'email/templates/default.twig' %}

{% block content %}

    <p>You have registered!</p>

    <p>Activate your account using this link: {{ baseUrl }}/{{ urlFor('activate') }}?email={{ user.email }}&identifier={{ identifier|url_encode }}</p>

    <!-- @TODO: Finish up this email templates-->
{% endblock %}